[submodule "mtgrunt.github.io"]
	path = mtgrunt.github.io
	url = https://github.com/mtgrunt/mtgrunt.github.io.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
